// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import "styles/variables.scss";

.find_frineds_main_container{

}

.find_friends_nav{
  display: flex;
  flex-direction: column;
  padding-top:15px;
  background-color: $top-nav-color;
  padding-bottom: 30px;

}

.find_friends_title{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  font-weight: bold;
}

.location_interest_container{
  display: flex;
  justify-content: space-around;
  padding-top:25px;
  
}

.location_container{
  display: flex;
  flex-direction: column;
  // padding-top: 20px;
  padding-left: 100px;
  
  span{
    display: flex;
    justify-content: center;
    
    font-family: $main-font;
  }
}

.interest_container{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  span{
    display: flex;
    justify-content: center;
    font-family: $main-font;
    
  }
}

.button_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}