@import "styles/variables.scss";

.div{
  display: flex;
  flex-direction: column;
}

.friend_nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
  font-family: $main-font;
  background-color: $top-nav-color;
  // background-color: #ffffff5d;
}