@import "./styles/variables.scss";

.friend_item{
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 15px 17px 16px;
  margin: 30px;
  background-color: #ffffff5d;
  border-radius: 20px;
}

.friend_photo_friend_name{
  display: flex;
  flex-direction: row;

  h1{
    padding-left: 25px;
  }
  a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    cursor:pointer;
    text-decoration: none;
    color: $text-color-for-links;
  }
}

.friend-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}

.friends-link{
  position: relative;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border: 0px;
  margin-left: 10px;
}

// .friends-link:hover{
//   color: #000;
// }

// .friends-link::before {
//   content: "";
//   position: absolute;
//   display: block;
//   margin-left: 15%;
//   width: 90%;
//   height: 2px;
//   bottom: 0;
//   left: 0;
//   background-color: #000;
//   transform: scaleX(0);
//   transition: transform 0.25s ease-out;
//   transform-origin: bottom left;
// }

// .friends-link:hover::before {
//   transform: scaleX(1);
// }
