.friend_item{
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 15px 17px 16px;
}


.friend_photo_friend_name{
  display: flex;
  flex-direction: row;

  h1{
    padding-left: 25px;
  }

}

.add_message{

  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
// .MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary MuiButton-sizeMedium MuiButton-outlinedSizeMedium MuiButtonBase-root  css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
//   display: flex;
//   justify-content: flex-start;
//   cursor:pointer;
// }
}


// .css-tzssek-MuiSvgIcon-root{

//   cursor:pointer;
// }

