@import "./styles/variables.scss";

.friend_item{
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 15px 17px 16px;
  margin: 30px;
  background-color: #ffffff5d;
  border-radius: 20px;
}

.friend_photo_friend_name{
  display: flex;
  flex-direction: row;

  h1{
    padding-left: 25px;
  }
  a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    cursor:pointer;
    text-decoration: none;
    color: $text-color-for-links;
  }
}

.friend-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}

