@import "styles/variables.scss";

.main_profile_container{
  display: flex;
  flex-direction: row;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 13%;
  background-color: #ffffff5d;

  img{
    max-width:300px;
   // border-radius: 25px;
 }
}

.inner_profile_container{
  background-color: $top-nav-color;
  display:flex;
  // flex-direction: row;
  border-radius: 25px
}

.profile_about{
  display:flex;
  flex-direction: column;
  padding-top: 5%;
}

.name{
  flex-direction: row;
  display: flex;
  justify-content: center; 
  padding-bottom: 30px; 
  font-weight: bold;
  font-family: $main-font;
  font-size: 40px;
}

.info{
  display: flex;
  flex-direction: row;
  padding-left: 65px;
}

.static-info{
  margin-top: 25px;
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  padding-right: 50px;
}

.title{
  margin-top: -15px;
  font-size: 10pt;
}

.data{
  padding: 0px;
  font-size: 14pt;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.edit_profile{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.description{
  display: flex;
  justify-content: center; 
  padding-bottom: 30px; 
  padding-left: 5%;
  width: 350px;
  text-align: center;
  margin-left: 45px;
  padding: 10px;
}