@import "styles/variables.scss";

.main_newsfeed_container{
  // overflow:scroll;
  // overflow-x:hidden;
  height: 100%;
  background-color: #ffffff5d;
}

.main_newsfeed_container::-webkit-scrollbar {
  // width: 1em;
  width: 0 !important 
}
// .main_newsfeed_container::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
// }
 
// .main_newsfeed_container::-webkit-scrollbar-thumb {
//   background-color: #ffffffb8;
//   outline: 1px solid #add5996d;
// }

.load_posts{
  display: flex;
  flex-direction: column;
  width: auto;
  padding-left: 4%;
  padding-right: 2%;
  background-color: #ffffff5d;
}

.create_post{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  background-color: #ffffff5d;
  padding: 20px;
  padding-left: 3.5em;
}

.create_post_field{
  margin: 1em;
  padding: 8px;
  border: none;
  border-radius: 30px;
  height: 40px;
  text-indent: calc(3% - 8px);
  outline: none;
  width: 540px;
}

.post-save{
  font-size: 12px;
  color: black;
  font-weight: bold;
  background: transparent;
  border: none;
  border-radius: 0px;
  margin-left: 5px;
}

.post-save:hover{
  display: inline-block;
  position: relative;
}

.post-save:after{
  content: '';
  position: absolute;
  margin-left: 15%;
  width: 72%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.post-save:hover:after{
  transform: scaleX(1); 
  transform-origin: bottom left;
}

.user-post{
  margin-right: 8px;
}