@import "styles/variables.scss";

.news_item{
  display: flex;
  flex-direction: column;
  width: 94%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: $top-nav-color;
  border-radius: 25px;
  padding: 20px;
  height: 150px;
  margin: 15px;
}

.likes_and_time{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  height: 30px;
}