//@import "./styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;800&display=swap');




.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  padding: 0;
  margin-left: 5em;
  width: 450px;
  border-radius: 5px;
  position: fixed;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;

  &--centered {
    align-self: center;
  }

  h1, a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
  }

  a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  hr{
    position: relative;
    left: -13px;
    top: 1px;
    transition: none 0s ease 0s;
    cursor: move;
  }

  img {
    width: 80%;
    height: auto;
    padding: 32px 0;
    top: 44px;
    position: relative;
  }

  nav{
    width: 90%;
  }
 

  ul{
    position: relative;
    left: -6px;
    top: 2px; 
  }

  button{
    padding: 10px 10px;
    border-radius: 12px;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: bold;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
  }
}

.sidebar:before{
  content: "";
  position: absolute;
  // background: inherit;
  background-color: #eafeff;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

.sidebar__menu{
  position: relative;
  left: -8px;
  top: 72px;
  text-align: right;
}

.profile__status__container{
  flex-direction: column;
  width: 100%;
}

.status__container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  width: 90%;
  margin-top: 1rem;
 
  span{
    padding-left: 10px;
  }

  a{
    text-decoration: none;
  }
  // img {
  //   padding-right: 5px;
  // }

}


.component__container {
  
  flex-direction: column;
  justify-content: flex-start;
  // margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 7rem;
  margin-top: 35px;
  padding: 0;
  width: 75%;
  height: 38rem;
  //box-shadow: 0 0 1rem 0 rgba(255,255,255,0.3); 
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;


  
  overflow:hidden;
  overflow-x:hidden;


}

.component__container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(15px);
  margin: -20px;
}//@import "./styles/variables.scss";
