@import "./TravelChat/styles/variables.scss";

.full_page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom left, #b4e6e9, #bba2ed);
  justify-content: center;

}

.logo_image_container{
  display: flex;
  justify-content: flex-start;
 
 
}

img{
 border-radius: 0px;
}

.login_container{
  width: 400px;
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 150px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;

  margin-left: 40%;
    margin-bottom: 30%;

  form{
    display: flex;
    flex-direction: column;
  }

  h1{
    margin-top: 50px;
    font-family: $nav-button-font;

  }
  button{
    margin-bottom: 50px;
  }

}


// .login_container:before{
//   content: "";
//   position: absolute;
//   // background: inherit;
//   background-color: #eafeff;
//   z-index: -1;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.05);
//   filter: blur(10px);
//   margin: -20px;

// }


form{
  font-family: $main-font;


  
  
  
  
}

.login__create-input{
  margin-bottom: 20px;
}

.login_button{
  padding: 10px 10px;
  border-radius: 0px;
  font-family: $nav-button-font;
  font-size: $large;
  font-weight: bold;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;   
  position: relative;
}

.login_button:hover{
  font-family: $nav-button-font;
  font-weight: bold;
  font-size: $XL-large;
  display: inline-block;
  position: relative;
}

.login_button:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #353d4f;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.login_button:hover:after{
  transform: scaleX(1); 
  transform-origin: bottom left;
}